.container-wrapper {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &__spinner {
    width: 150px;
    height: 150px;
    border: 18px solid #fff;
    border-radius: 50%;
    border-top: 18px solid #d4fe97;
    border-bottom: 18px solid #5fa11c;
    animation: move 2s linear infinite;
  }
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
